@tailwind base;
@tailwind components;
@tailwind utilities;

.lumenoblue {
  background-color: #50A9E7 !important;
  color: white !important;
}
.lumenoblue:hover {
  background-color: #3A96D6 !important; /* Slightly darker shade for hover */
}

.text-lumenoblue {
  color: #50A9E7 !important;
}
